---
import { homepage } from '../data/homepage';
const { banner } = homepage;
---
<div class="banner">
  <h2>{banner.heading}</h2>
  <p>{banner.body}</p>
  <button class="btn-white will-mag" onclick="openModal()">Join Us</button>
</div>
