---
import type { HomepageDoc } from '../lib/sanity';

interface Props {
  homepage: HomepageDoc;
}
const { homepage } = Astro.props;
---
<div class="banner">
  <h2>{homepage.bannerHeading}</h2>
  <p>{homepage.bannerBody}</p>
  <button class="btn-white will-mag" onclick="openModal()">Join Us</button>
</div>
