---
import tickerData from '../data/ticker.json';
const items = [...tickerData, ...tickerData] as [string, string][];
---
<div class="ticker-wrap">
  <div class="ticker-inner" id="tickerEl">
    {items.map(([k, v]) => (
      <span class="ticker-item"><b>{k}:</b> {v}</span>
    ))}
  </div>
</div>
