---
import type { HomepageDoc } from '../lib/sanity';

interface Props {
  homepage: HomepageDoc;
}
const { homepage } = Astro.props;
---
<div class="vision-wrap" id="visionSection">
  <div class="vision-inner">
    <div class="section-tag">{homepage.visionTag}</div>
    <p class="vision-quote" id="visionQuote">{homepage.visionQuote}</p>
  </div>
</div>
