---
import { homepage } from '../data/homepage';
const { vision } = homepage;
---
<div class="vision-wrap" id="visionSection">
  <div class="vision-inner">
    <div class="section-tag">{vision.tag}</div>
    <p class="vision-quote" id="visionQuote">{vision.quote}</p>
  </div>
</div>
